@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/recoleta");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.button {
  background-color: #2e623b;
  color: #fff;
  padding: 20px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}
.button:hover {
  background-color: #3e8550;
}
.button:active {
  background-color: #1e3f26;
}

.consider {
  padding: 0;
  display: flex;
  background-color: white;
  color: rgb(22, 58, 36);
}

.my-card-0 {
  padding-top: 0px;
}

.oone-card {
  background-color: rgb(233, 228, 213);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px 0px rgb(233, 228, 213);
}

.my-card-1 {
  padding-top: 20px;
}

.oone-card {
  background-color: rgb(233, 228, 213);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px 0px rgb(233, 228, 213);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 130px;
}

.headertop {
  background: #163a24;
  padding: 0 130px;
  max-width: 1400px;
  margin: 0 auto;
}
.headertop nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 21px;
}
.headertop nav .phone {
  display: none;
}
.headertop nav .leftactions {
  display: flex;
  gap: 24px;
  align-items: center;
}
.headertop nav .leftactions .login {
  background-color: transparent;
  color: #fff;
  padding: 0;
  border: none;
  cursor: pointer;
  font-family: Noto Sans;
}
.headertop nav .leftactions .login:hover {
  background-color: rgba(26, 26, 26, 0);
}
.headertop nav .leftactions .login:active {
  background-color: rgba(0, 0, 0, 0);
}
.headertop nav .leftactions .start {
  background-color: #198c36;
  color: #fff;
  padding: 0;
  border: none;
  cursor: pointer;
  padding: 15px 25px;
  font-family: Noto Sans;
  border-radius: 25px;
}
.headertop nav .leftactions .start:hover {
  background-color: #21b747;
}
.headertop nav .leftactions .start:active {
  background-color: #116125;
}
.headertop nav .leftactions a {
  color: #fff;
  font-size: 14px;
  font-family: Noto Sans;
  margin-right: 20px;
  text-decoration: none;
}
.headertop .hero {
  display: flex;
  align-items: center;
}
.headertop .hero img {
  width: 50%;
}
.headertop .hero .maininfo h1 {
  font-family: "Recoleta";
  font-size: 48px;
  font-weight: 600;
  line-height: 65.25px;
  color: #fbfaf7;
  text-align: left;
}
.headertop .hero .maininfo p {
  font-family: "Noto Sans";
  font-size: 18px;
  color: #fbfaf7;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
}

.maincard {
  max-width: 1400px;
  margin: 120px auto 0;
  padding: 0 130px;
  margin-bottom: 113px;
}
.maincard .item {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  flex-wrap: wrap;
}
.maincard .item .cardinfo {
  padding-left: 30px;
  max-width: 400px;
}
.maincard .item .cardinfo h2 {
  font-family: Recoleta;
  font-size: 48px;
  font-weight: 600;
  line-height: 54px;
  text-align: left;
  margin-bottom: 27px;
}
.maincard .item .cardinfo p {
  font-family: Noto Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
}

.partner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 66px;
  margin-bottom: 120px;
}
.partner .partner_wrap {
  display: flex;
  justify-content: center;
  gap: 80px;
  align-items: center;
  flex-wrap: wrap;
}

.quality {
  background-color: #163a24;
  max-width: 1400px;
  margin: 0 auto;
  padding: 66px 130px 120px;
}
.quality h2 {
  font-family: "Recoleta";
  font-size: 48px;
  font-weight: 600;
  line-height: 54px;
  color: #fbfaf7;
  text-align: center;
  margin-bottom: 73px;
}
.quality .card_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.quality .card_wrapper .card {
  width: 280px;
  text-align: center;
}
.quality .card_wrapper .card p {
  font-family: Noto Sans;
  font-size: 18px;
  color: #fbfaf7;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}

.employees {
  background: rgb(242, 239, 230);
  max-width: 1400px;
  margin: 0 auto;
  padding: 66px 130px 120px;
  text-align: center;
}
.employees h2 {
  font-family: Recoleta;
  font-size: 48px;
  font-weight: 600;
  line-height: 54px;
  text-align: center;
}
.employees p {
  font-family: Noto Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}
.employees img {
  width: 100%;
}

.menu_navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 130px;
  background-color: #245f3b;
  width: 100vw;
  height: 100vh;
  gap: 50px;
  position: fixed;
  transition: 1s;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}
.menu_navbar button {
  background-color: #198c36;
  color: #fff;
  padding: 0;
  border: none;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 25px;
}
.menu_navbar button:hover {
  background-color: #21b747;
}
.menu_navbar button:active {
  background-color: #116125;
}
.menu_navbar a {
  font-family: Noto Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  text-align: right;
  color: #fff;
  text-decoration: none;
}
.menu_navbar .nav_wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.menu_navbar .nav_wrap i {
  font-size: 49px;
  color: #fff;
}

input {
  display: none;
}

.conside {
  background: white;
  max-width: 1400px;
  margin: 0 auto;
  padding: 66px 130px 120px;
  text-align: center;
}
.conside h2 {
  font-family: Recoleta;
  font-size: 48px;
  font-weight: 600;
  line-height: 54px;
  text-align: center;
}
.conside p {
  font-family: Noto Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}

.sec-one {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
  gap: 50px;
  flex-wrap: wrap;
}
.sec-one .one-card:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.sec-one .one-card:active {
  transform: scale(0.9);
  transition: 0.3s;
}
.sec-one .one-card h2 {
  font: Noto Sans;
  padding-bottom: 23px;
}
.sec-one .one-card ul li {
  padding-bottom: 15px;
}

#label {
  display: none;
}
#label i {
  color: white;
}

@media (max-width: 768px) {
  #label {
    display: block;
  }
  .headertop nav .phone {
    display: block;
  }
  .headertop nav .leftactions {
    display: none;
  }
  .headertop .hero {
    display: flex;
    flex-direction: column;
  }
  .headertop .hero .maininfo h1 {
    font-size: 24px;
  }
  .headertop .hero img {
    width: 100%;
  }
  #check:checked + .menu_navbar {
    transform: translateX(0);
    transition: 1s;
  }
  .employees img {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */